*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: sans-serif;
}
li{
    list-style-type: none;
    color: black;
}
a{
    text-decoration: none;
    color: black;
    &:hover{
        color: #0282f9;
    }
}